<tr>
  <td style="white-space:nowrap"><%= item.created_at.to_s %></td>
  <td><%= item.value.to_s %></td>
  <td style="white-space:nowrap"><%= item.author.to_s %></td>
  <td><%= item.comment.to_s %></td>
</tr>
