<div class="well">
  <div class="jumbotron" style="background-color:inherit">
    <h1>Welcome</h1>
    <p class="lead">text about configuring the Personal Data Store</p>
  </div>
</div>
<div class="text-right">
  <a href="/config1" class="btn btn-primary btn-lg">Next</a>
</div>
