<div class="well">
  <div class="jumbotron" style="background-color:inherit">
    <h1>Finish</h1>
    <p class="lead">Use the following URL to access this Personal Data Store:</p>
    <blockquote>
      <p class="lead"><pre><%= request.base_url %></pre></p>
    </blockquote>
  </div>
</div>
<div class="text-right">
  <a href="/overview" class="btn btn-primary btn-lg">Continue to Overview</a>
</div>
