<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>test</title>
  <script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
  </script>
  <script src="https://immense-coast-7846.herokuapp.com/collectData.js">
  </script>
</head>
<body>
<script type="text/javascript">
<!--
collectData();
//--></script>
  <p><strong>Question Title</strong><br>some description text</p>
  <form action="/" id="searchForm">
    <input type="text" id="searchField" placeholder="your answer">
    <input type="submit" value="Submit">
  </form>
  <div id="result"></div>
</body>
</html>
